<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-size: 1rem;
      margin: 0;
    }

    .container {
      width: 800px;
      margin: 0 auto;
      padding: 24px 0 16px;
    }

    p {
      font-weight: normal;
      font-size: 1rem;
      color: #242424;
    }

    .social img {
      width: 30px;
      height: 30px;
      margin: 0 10px;
    }

    .block {
      display: block;
    }

    a {
      text-decoration: none;
      font-size: 1rem;
    }

    label {
      font-size: 1rem;
    }

    .menu-footer {
      border-left: 1px solid #242424;
      margin-left: 10px;
      padding-left: 10px;
      text-decoration: none;
    }

    .menu-footer:first-child {
      border: none;
    }

    .column-left {
      width: 50%;
    }

    .column-right {
      width: 50%;
      text-align: right;
      vertical-align: top;
    }

    .text-16 {
      font-size: 1rem;
    }

    .mb-10 {
      margin-bottom: 10px;
    }

    .mb-24 {
      margin-bottom: 24px;
    }

    .mb-30 {
      margin-bottom: 30px;
    }

    .ml-15 {
      margin-left: 15px;
    }

    table {
      width: 100%;
    }

    .image {
      width: 100%;
    }

    .logo {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container-wrapper">
    <div class='container'>
      <!-- start -->
      <div class="content">
        <div class="content-email">
          <p>Hi,</p>
          <p>Your OTP code for login is: <b>{{otp}}</b>. The code is valid for 30 minutes.</p>
          <p>Please note that the activation link is only valid for a day. </p>
        </div>
      </div>
    </div>
</body>

</html>